* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content > .btns {
    margin-bottom: 24px;
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}